:root {
  --font-size-base: 18px;
  --font-family-base: 'Ubuntu', arial, sans-serif;
  --font-family-headings: 'Franklin', impact, serif;
  --line-height-base: 1.5;
  --line-height-headings: 1.1;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.8rem;
  --font-size-xxxl: 2.2rem;
}
