{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "vue/component-name-in-template-casing": ["error", "kebab-case"],
    "vue/no-deprecated-slot-scope-attribute": 1,
    "vue/no-v-html": 0,
    "vue/no-v-model-argument": 0
  },
  "overrides": [
    {
      "files": ["layouts/default.vue", "pages/**/*"],
      "rules": {
        "vue/multi-word-component-names": 0
      }
    }
  ]
}
