@define-mixin tile-border $roughness: 1, $stroke-width: 2px,
  $image-outset: 0.75em {
  --rough-stroke-width: $stroke-width;
  --rough-roughness: $roughness;

  border: var(--rough-stroke-width) solid var(--rough-stroke);

  @nest .is-loaded & {
    @supports (border-image-source: paint(rough-boxes)) {
      &:not(:focus) {
        border-image-source: paint(rough-boxes);
        border-image-slice: 0 fill;
        border-image-outset: $image-outset;
      }
    }
  }
}
