@define-mixin input-border {
  --rough-stroke-width: 2px;
  --rough-roughness: 1;
  border: var(--rough-stroke-width) solid var(--rough-stroke);

  @nest .is-loaded & {
    @supports (border-image-source: paint(rough-boxes)) {
      border: 0;
      border-image-source: paint(rough-boxes);
      border-image-slice: 0 fill;
      background: none;
      border-image-outset: 0.5em;
    }
  }
}

@define-mixin tile-border $roughness: 2, $stroke-width: 2px, $image-outset: 0.5em  {
  --rough-stroke-width: $stroke-width;
  --rough-roughness: $roughness;

  border: var(--rough-stroke-width) solid var(--rough-stroke);

  @nest .is-loaded & {
    @supports (border-image-source: paint(rough-boxes)) {
      border-image-source: paint(rough-boxes);
      border-image-slice: 0 fill;
      background: none;
      border-image-outset: $image-outset;
    }
  }
}
