@define-mixin btn {
  @mixin link-reset;
  @mixin heading;

  cursor: pointer;
  text-align: center;
  width: auto;
  border-radius: 0.25em;
  display: inline-block;
  padding: var(--spacing-xxs) var(--spacing-m);
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-buttons);
  transition: background-color var(--animation);
  border: 2px solid transparent;
  font-size: var(--font-size-l);

  &:disabled {
    background: transparent;
    color: var(--color-white);
    border: 2px dashed var(--color-white);

    &.active,
    &:hover {
      background: transparent;
    }
  }
}

@define-mixin btn-small {
  font-size: var(--font-size-m);
  padding: var(--spacing-xxs) var(--spacing-xs);
}

@define-mixin btn-large {
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-l);
}

@define-mixin btn-full {
  max-width: none;
  width: 100%;
}

@define-mixin btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

@define-mixin btn-primary-hover {
  background: var(--color-primary-dark);
}

@define-mixin btn-ghost {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

@define-mixin btn-ghost-hover {
  background: var(--color-primary);
  color: var(--color-white);
}
