@define-mixin tile-border {
  --rough-stroke-width: 3px;
  --rough-roughness: 1.5;
  border: var(--rough-stroke-width) solid var(--rough-stroke);
  @supports (border-image-source: paint(rough-boxes)) {
    border-image-source: paint(rough-boxes);
    border-image-slice: 0 fill;
    border-image-outset: 1em;
  }
}
