button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.read-more,
a {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 2px 0 0 var(--color-black);
  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 0 3px 0 0 var(--color-black);
  }
}

.read-more {
  &:hover svg {
    margin-left: 0.25em;
  }

  & svg {
    transition: margin 0.2s ease-out;
    transform: translate3d(2px, 2px, 0);
  }
}

.btn {
  text-align: center;
  font-weight: var(--font-weight-bold);
  border-radius: 0.25em;
  display: block;
  text-decoration: none;
  padding: 0.75em 0.5em;
  font-family: var(--font-family-headings);
  transition: background-color 0.1s ease-in-out;
  border: 2px solid var(--color-white);
  background: transparent;
  max-width: 20em;
  color: var(--text-color);
  &:hover {
    background: var(--color-black);
    color: var(--color-white);
  }

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    background: transparent;
    color: var(--color-white);
    border: 2px dashed var(--color-white);

    &:hover {
      background: transparent;
    }
  }

  &.btn-primary {
    background: var(--color-black);
    color: var(--color-white);

    &:hover {
      background: var(--color-black-dark);
    }
  }

  &.btn-ghost {
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);

    &:hover {
      background: var(--color-white);
      color: var(--text-color);
    }
  }
}
