legend {
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.form-item {
  margin-bottom: 1rem;
}

.error-message {
  display: block;
  margin-top: 0.25rem;
  color: var(--color-danger);
  font-size: 0.8em;
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='email'],
input[type='date'],
input[type='tel'],
input[type='url'],
select {
  appearance: none;
  background: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 0.5em 0.25em;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.15s ease-out;

  &:disabled {
    background-color: var(--gray-lightest);
    color: var(--gray-light);
  }

  &.has-error {
    border-color: var(--color-danger);
  }

  &:focus {
    outline: none;
    border-color: var(--color-black);
  }
}

input {
  &:read-only {
    cursor: default;
    pointer-events: none;
  }

  &::placeholder {
    color: var(--gray-dark);
  }
}

label {
  display: block;
  margin-bottom: 0.25em;
  font-weight: var(--font-weight-bold);

  .optional {
    font-weight: var(--font-weight-normal);
  }

  button {
    color: currentColor;
    text-decoration: underline;
  }
}
