:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-dark: #666;
  --color-gray: #a3b8c0;
  --color-gray-light: #becdd3;
  --color-primary: #c30531;
  --color-primary-dark: #449729;
  --color-secondary: #ddd;
  --text-color: #2b2b2b;
}

@media (--dark-mode) {
  :root {
    --color-black: #fff;
    --color-white: #000;
    --color-primary: #eb2860;
    --color-primary-dark: #449729;
    --color-secondary: #2f2e3e;
    --text-color: var(--color-black);
  }
}
