:root {
  --container-width-xs: 18rem;
  --container-width-sm: 30rem;
  --container-width-md: 36rem;
  --container-width-lg: 52rem;
  --container-width-xlg: 64rem;
  --height-navigation-sm: 2em;
  --width-navigation-left: 20rem;
  --gutter: 1em;

  @media (--navigation-position-left) {
    --gutter: 2em;
  }
}
