:root {
  --font-size-base: 18px;
  --font-family-base: 'Ubuntu', sans-serif;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-family-headings: 'Franklin', serif;
}
