@custom-media --dark-mode (prefers-color-scheme: dark);
@custom-media --viewport-sm (width >= 640px);
@custom-media --viewport-md (width >= 1024px);
@custom-media --viewport-lg (width >= 1240px);
@custom-media --viewport-xlg (width >= 1440px);
@custom-media --portrait (orientation: portrait);
@custom-media --landscape (orientation: landscape);
