legend {
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.form-item {
  margin-bottom: 1rem;
}

.error-message {
  display: block;
  margin-top: 0.25rem;
  color: var(--color-danger);
  font-size: 0.8em;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="time"],
textarea,
select {
  @mixin tile-border;

  height: auto;
  min-height: 2.25em;
  appearance: none;
  background: var(--color-white);
  border-radius: 0;
  width: 100%;
  padding: 0.5em 0.25em;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.15s ease-out;

  &:disabled {
    background-color: var(--color-gray-light);
    color: var(--gray-light);
  }

  &:readonly {
    background-color: var(--color-gray-light);
    cursor: default;
    pointer-events: none;
  }

  &.has-error {
    border-color: var(--color-danger);
  }
}

input {
  &::placeholder {
    color: var(--gray-dark);
  }
}

textarea {
  resize: vertical;
}